{% extends 'base.html.twig' %}

{% block title %}entreprise{% endblock %}

{% block body %}

<div class="container">
<h1> Classé par entreprise </h1>
<table class="table">
<thead>
  <tr>
    <th scope="col">Titre</th>
    <th scope="col">Nom de l'entreprise</th>
    <th scope="col">Formation</th>
    <th scope="col">Email</th>
    <th scope="col">Adresse de l'entreprise</th>
    <th scope="col">Details</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">Developpeur Mobile</th>
    <td>Safran</td>
    <td>Dut informatique, license 3 informatique</td>
    <td>contact@safran.fr</td>
    <td>15 rue des basques</td>
    <td><a href="">detail</a></td>
  </tr>
  <tr>
    <th scope="row">Developpeur Web</th>
    <td>SolidPepper</td>
    <td>DUT informatique</td>
    <td>contact@solidpepper.fr</td>
    <td>16 rue des basques</td>
    <td><a href="">detail</a></td>
  </tr>
</tbody>
</table>
</div>

{% endblock %}
