{# On remplit la template base.html #}
{% extends 'base.html.twig' %}

{# On remplit le titre de la template #}
{% block title %}Stage {{ id }}{% endblock %}

{# On remplit le corps de la template #}
{% block body %}

  <!-- Description du stage -->
  <div class="container">
  <h1>Developpeur web</h1>
  <ul>
    <li>Entreprise : Safran</li>
    <li>Formation(s) : Dut informatique</li>
    <li>Email : contact@safran.fr</li>
    <li>Adresse : 15 rue des basques</li>
  </ul>
  <h3> Tâches à réaliser </h3>
  <p> jdiodjqdzoqjzdoihcqiucnjchiusgfyuzkdpqojdhufcshkdcjqosxugytfrdazqzdzq</p>
  </div>

{% endblock %}
