{% extends 'base.html.twig' %}

{% block title %}Stage {{ id }}{% endblock %}

{% block body %}
  <!-- Description du stage {{ id }} -->
  <div class="container">
  <h1>Developpeur web</h1>
  <ul>
    <li>Entreprise : Safran</li>
    <li>Formation(s) : Dut informatique</li>
    <li>Email : contact@safran.fr</li>
    <li>Adresse : 15 rue des basques</li>
  </ul>
  <h3> Tâches à réaliser </h3>
  <p> jdiodjqdzoqjzdoihcqiucnjchiusgfyuzkdpqojdhufcshkdcjqosxugytfrdazqzdzq</p>
  </div>



{% endblock %}
